@use '@variables' as var;

.home-page {
  display: flex;
  flex-direction: column;
  align-items: start;
  h1 {
    margin-bottom: 2rem;
    color: var.$midnight;
  }

  ul {
    width: 100%;
  }
}

// tablet portrait
@media only screen and (max-width: 768px) {
  .home-page {
    h1 {
      font-size: 2rem;
    }
  }
}
